{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">

    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="" >Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-expense' %}" class="btn btn-primary">Add Expense</a>
        </div>
    </div>
    {% include 'partials/_messages.html' %}
    <div class="container">

        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" placeholder="search" id="search" name="search">
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Amount (Curreny)</th>
                    <th>Category</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% if expenses.count %}
                {% for expense in page_obj %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date}}</td>
                    <td>
                        <a href="{% url 'edit-expense' expense.id%}" class="btn
                        btn-primary">Edit</a>
                        <a href="{% url 'delete-expense' expense.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">No expenses found</td>
                    {% endif %}
            </tbody>
        </table>
        
        <div class="pagination-container">
            <div class="pagination align-left float-left">
                Showing page {{page_obj.number }} of {{page_obj.paginator.num_pages}}
            </div>
    
            <ul class="pagination align-right float-right mr-auto">
                {% if page_obj.number > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1"><<1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
                
                <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"{% if page_obj.number == page_obj.paginator.num_pages %} tabindex="-1" aria-disabled="true"{% endif %}>{{ page_obj.paginator.num_pages }} &gt;&gt;</a>
                </li>
            </ul>           
        </div>
    </div>
</div>
<script src="{% static 'js/searchExpenses.js' %}" {% endblock %}