{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3" >
                    <h4>Login to your account</h4>
                </div>
                {% include 'partials/_messages.html' %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control form-control-sm"
                            placeholder="Username" value="{{fieldValues.username}}">
                    </div>                   
                    <span class="valid-feedback text-sm username-success" style="display: none;"></span>

                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control form-control-sm"
                            placeholder="Password" class="{{fieldValues.password}}">
                        <small class="float-right py-3 togglePassword" >Show</small>
                    </div>

                    <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
